---
import LogoIcon from "./LogoIcon.astro"
import { fab, faYoutube, faGithub, faTelegram } from '@fortawesome/free-brands-svg-icons'
import {faGlobe} from "@fortawesome/free-solid-svg-icons"
import { library, icon, type Icon } from "@fortawesome/fontawesome-svg-core";
library.add(fab, faTelegram, faYoutube, faGithub, faGlobe);

type Social = {
  icon: Icon;
  url: string;
}

const araSocials: Social[] = [
  {
    icon: icon({ prefix: "fab", iconName: faYoutube.iconName }),
    url: "https://youtube.com/@medet-ahmetson",
  },
  {
    icon: icon({ prefix: "fab", iconName: faTelegram.iconName }),
    url: "https://t.me/ara.sangha",
  },
  {
    icon: icon({ prefix: "fas", iconName: faGlobe.iconName }),
    url: "https://ara.foundation/"
  },
  {
    icon: icon({ prefix: "fab", iconName: faGithub.iconName }),
    url: "https://github.com/ara-foundation/"
  }
]
// 
---

<div class="logo-container">
  <a href="/" class="flex flex-row mr-2">
    <LogoIcon></LogoIcon>
    <span class="inline-block mt-1 ml-1">ARA</span>
  </a>
  <nav class="flex pl-2">
    {araSocials.map((araSocial) => 
      <a class="text-lg mr-3 mt-2 inline-block" href={araSocial.url}, target="_blank">
        <Fragment set:html={araSocial.icon.html} />
      </a>
    )}
  </nav>
</div>
<style>
  .logo-container {
    top: 0px;
    left: 3px;
    width: 253px;
    height: 43px;
    background-color: #e6e6e6;
    display: flex;
  }

  .logo-container span {
    color: #0e0e0e;
    font-size: 24px;
    font-family: "Open Sans";
    font-weight: 200;
    line-height: 37px;
  }

</style>